<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="0.9.11.0" Manufacturer="SDL" UpgradeCode="822eeab3-3110-4106-8358-d3141afa1b9b">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="SDL plugin installer" InstallPrivileges="elevated" Manufacturer="SDL" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Sdl.Community.SdlPluginInstaller.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />

    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="SdlFolder" Name="SDL">
          <Directory Id="SdlCommunity" Name="SDL Community">
            <Directory Id="INSTALLFOLDER" Name="SDL plugin installer" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="ProductComponent">
        <RemoveFolder Id="INSTALLFOLDER" Directory="INSTALLFOLDER" On="uninstall"/>
        <File Source="$(var.Sdl.Community.SdlPluginInstaller.TargetPath)" />

        <!--SdlPluginInstaller.Document ProgID-->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Classes\Sdl.Community.SdlPluginInstaller.exe.Document" Name="FriendlyTypeName" Value="Installer application for SDL plugins" Type="string" />
        <ProgId Id="SdlPluginInstaller.Document" Description="Installer application for SDL plugins" Advertise="yes">
          <Extension Id="sdlplugin">
            <Verb Id="open" Command="[INSTALLFOLDER]Sdl.Community.SdlPluginInstaller.exe" Argument="&quot;%1&quot;" />
            <MIME Advertise="yes" ContentType="application/sdlplugin" Default="yes" />
          </Extension>
        </ProgId>

        <RegistryValue Root="HKCR" Key=".sdlplugin" Value="Sdl Plugin Installer" Type="string"/>
        <RegistryValue Root="HKCR" Key="Sdl Plugin Installer" Value="Sdl plugin file type" Type="string" />
        <RegistryValue Root="HKCR" Key="Sdl Plugin Installer\DefaultIcon" Value="[INSTALLFOLDER]Sdl.Community.SdlPluginInstaller.exe,0" Type="string" />
        <RegistryValue Root="HKCR" Key="Sdl Plugin Installer\shell\open\command" Value="&quot;[INSTALLFOLDER]Sdl.Community.SdlPluginInstaller.exe&quot; &quot;%1&quot;" Type="string" />
      </Component>
      <Component Id="NLog">
        <File Source="..\..\..\Sdl.Community.SdlPluginInstaller\bin\Debug\NLog.dll" />
      </Component>
      <Component Id="ObjectListView">
        <File Source="..\..\..\Sdl.Community.SdlPluginInstaller\bin\Debug\ObjectListView.dll" />
      </Component>
      <Component Id="CommunityControls">
        <File Source="..\..\..\Sdl.Community.SdlPluginInstaller\bin\Debug\Sdl.Community.Controls.dll" />
      </Component>
      <Component Id="PackageSupport">
        <File Source="..\..\..\Sdl.Community.SdlPluginInstaller\bin\Debug\Sdl.Core.PluginFramework.PackageSupport.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>